.boton7 {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 240px;
	height: 50px;
	background: var(--bg);
	color: #fff;
	font-family: "Fredoka One", cursive;
	font-size: 17px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: .3s ease all;
	border-radius: 2rem;
	position: absolute;
	top: 330px;
	left: 970px;
	overflow: hidden;
}

.boton7 span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}

.boton7::after {
	content: "";
	width: 100%;
	height: 300px;
	background: var(--turquoise);
	position: absolute;
	z-index: 1;
	top: -300px;
	left: 0px;
	transition: .8s ease-in-out all;
	border-radius: 0px 0px 300px 300px;
}

.boton7:hover::after {top: 0;}